@model IList<QuartZTest.RunningJobInfo>
@{
    ViewBag.Title = "WebMvc Test";
}
<script type="text/javascript">
    $(document).ready(function() {
        setInterval(function () {
            // Auto refresh page with interval of 20 seconds
            location.reload();
        }, 20000);
    });
</script>

    <div class="jumbotron">
        <h1>Quartz Background Task Site</h1>
        <p class="lead">This page shows quartz jobs currently running, This page will auto refresh with interval of 20 Seconds.</p>
        <hr/>
        <p class="lead">Below button will shutdown jobs and can not restore unless restart website, carefully with it!</p>

        <form class="form-inline" method="post">
            <div class="form-group">
                <label for="pwd">Token:</label>
                <input type="password" class="form-control" id="token" placeholder="Enter token" name="token">
            </div>
            <button type="submit" class="btn btn-danger btn-lg" formaction="/Home/ShutdownAllJobs">ShutDown All Jobs</button>
        </form>
    </div>

    <div class="container">
        <h2>Currently Running Jobs</h2>
        <h4>This Section displays all jobs running at the time page is refreshed, page will refresh <mark>every 20 seconds</mark> for you to view latest status</h4>
        <hr/>
        <table class="table">
            <thead>
                <tr>
                    <th>JobKey</th>
                    <th>JobType</th>
                    <th>TriggerKey</th>
                    <th>FireTime</th>
                    <th>PreviousFireTime</th>
                    <th>RefireCount</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="@item.HtmlClass">
                        <td>@item.JobKey</td>
                        <td>@item.JobType</td>
                        <td>@item.TriggerKey</td>
                        <td>@item.FireTime</td>
                        <td>@item.PreviousFireTime</td>
                        <td>@item.RefireCount</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
